<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zqzess.sift.mapper.second.FileMapper">
    <insert id="insertFile" parameterType="FileItem">
        insert into File (file_name, file_size, file_path, file_upload_user_name, file_upload_time,
                          file_update_user_name, file_update_time, file_rank, file_hash, file_type, file_dir,
                          file_media_type)
        VALUES (#{fileName}, #{fileSize}, #{filePath}, #{fileUploadUserName}, #{fileUploadTime}, #{fileUpdateUserName},
                #{fileUpdateTime}, #{fileRank}, #{fileHash}, #{fileType}, #{fileDir}, #{fileMediaType})
    </insert>

    <select id="getFileListByPage">
        select * from File
    </select>

    <select id="getFileByFileId" resultType="FileItem">
        select * from File where file_id = #{fileId}
    </select>
</mapper>